.content-home {
    margin: -150px 25% 100px 25%;
    width: 50%;
	background-color: rgba(255,255,255,0.4);
	padding-top: 20px;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#26FFFFFF, endColorstr=#26FFFFFF);
	border-radius: 5px; /* ���нǶ�ʹ�ð뾶Ϊ5px��Բ�ǣ�������ΪCSS3��׼���� */ 
	-moz-border-radius: 5px; /* Mozilla��������˽������ */ 
	-webkit-border-radius: 5px; /* Webkit��������˽������ */ 
}

canvas{
  display:block;
  vertical-align:bottom;
}

#particles-js{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  background-image: url('https://ss0.bdstatic.com/94oJfD_bAAcT8t7mm9GUKT-xh_/timg?image&quality=100&size=b4000_4000&sec=1503837474&di=1e0dc9de4f0746b62462fb34fbaa81a2&src=http://pic.58pic.com/58pic/15/90/53/05v58PICfsA_1024.jpg');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

html.page-home {

}
.title {
  text-align: center;
  font-size: 20px;
  letter-spacing: 0.1em;
  z-index: 100;
  margin: 0;
  padding: 0;
  font-family: Helvetica, 'Hiragino Sans GB', 'Microsoft Yahei', '΢���ź�', Arial, sans-serif;
  width: 100%;
  color: #222;
  position: absolute;
}